No.1

In [6]:
data_mahasiswa = ('Kristian Agung N',2505060044, 'Teknologi Informasi')
print(f'Nama : {data_mahasiswa[0]}')
print(f'NIM : {data_mahasiswa[1]}')
print(f'Prodi: {data_mahasiswa[2]}')

Nama : Kristian Agung N
NIM : 2505060044
Prodi: Teknologi Informasi

No.2

In [7]:
data_buah = {
    'apel' : 5000,
    'pisang' : 3000,
    'jeruk' : 7000,
    'anggur' : 15000
}
print(data_buah)
total = 0

for buah, harga in data_buah.items():
  print(f"harga {buah}: {harga}")
  total += harga
print(f"harga total: {total}")

{'apel': 5000, 'pisang': 3000, 'jeruk': 7000, 'anggur': 15000}
harga apel: 5000
harga pisang: 3000
harga jeruk: 7000
harga anggur: 15000
harga total: 30000